<header>
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav class="app-sidenav"  color="primary">
      <mat-toolbar>
        <!-------menu--------->
        <mat-toolbar-row>
          <mat-icon>menu</mat-icon>
          <mat-nav-list>
            <a mat-list-item routerLink="/" (click)="sidenav.toggle()">
              <span>Guard</span>
            </a>
          </mat-nav-list>
        </mat-toolbar-row>
        <!-------home--------->
        <mat-toolbar-row *ngIf="loginservice.logeado">
          <mat-icon>home</mat-icon>
          <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="sidenav.toggle()">
              <span>Home</span>
            </a>
          </mat-nav-list>
        </mat-toolbar-row>
          <!-------registro usuario--------->
        <mat-toolbar-row *ngIf="loginservice.logeado">
          <mat-icon>assignment</mat-icon>
          <mat-nav-list >
            <a mat-list-item  routerLink="/registroUser" (click)="sidenav.toggle()">
              <span>registro usuario</span>
            </a>
          </mat-nav-list>
        </mat-toolbar-row>
        <!-------nombre usuario--------->
        <mat-toolbar-row *ngIf="loginservice.logeado">
          <mat-icon>assignment_ind</mat-icon>
          <mat-nav-list >
            <a mat-list-item aria-readonly="true">
              <span>{{loginservice.usuario}}</span>
            </a>
          </mat-nav-list>
        </mat-toolbar-row>
        <!-------Logout--------->
        <mat-toolbar-row *ngIf="loginservice.logeado">
          <mat-icon>logout</mat-icon>
          <mat-nav-list >
            <a mat-list-item (click)="loginservice.logout()" routerLink="">
              <span>Logout</span>
            </a>
          </mat-nav-list>
        </mat-toolbar-row>
         <!-------login--------->
        <mat-toolbar-row *ngIf="!loginservice.logeado" >
          <mat-icon>login</mat-icon>
          <mat-nav-list class="app-sidenav" >
            <a mat-list-item  routerLink="/" (click)="sidenav.toggle()">
              <span>Login</span>
            </a>
          </mat-nav-list>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav>
  
    <mat-toolbar color="primary">
      <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <span class="title">Guard</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</header>
