
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-xs-12">
        <!-- Material Input -->
        <mat-card class="app-input-section ">
            <mat-card-content>
                <!------titulo---->
                <h2 class="example-h2 text-center fs-1 py-5">login</h2>
                <form [formGroup]="formLogin">
                    <!-------usuario----->
                    <div class="mb-3 d-flex justify-content-center">
                        <mat-form-field>
                            <input matInput #usuario placeholder="usuario" maxlength="50" formControlName="usuario" />
                            <mat-hint align="end">
                            {{usuario.value.length}} / 50
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <!-------contraseña----->
                    <div class="mb-3 d-flex justify-content-center">
                        <mat-form-field>
                            <input matInput #password placeholder="password" maxlength="15" formControlName="password" />
                            <mat-hint align="end">
                            {{password.value.length}} / 15
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <!---------BOTON----->
                    <div class="container d-flex justify-content-center mb-3 ">
                        <button class="app-button px-5  " mat-raised-button color="primary" [disabled]="formLogin.invalid" (click)="login()">Ingresar</button>
                    </div>
                </form>
            </mat-card-content>

           
        </mat-card>
        <!-- /Material Input -->
        </div>   
    </div>     
</div>
