<div class="container  ">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <form >
                <div class="my-5">
                    <h2 class="text-center">login</h2>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="usuario" placeholder="usuario" #usuario>
                        <label for="usuario">Usuario</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="pass" placeholder="constraseña" #pass>
                        <label for="pass">Constraseña</label>
                    </div>
                </div>
                <div class="mb-3" *ngIf="incorrecto">
                    <div class="alert alert-danger" role="alert">
                         No existe usuario y contraseña
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <button (click)="Login(usuario.value, pass.value)" class="btn btn-primary">Ingresar</button>
                </div>
              </form>
        </div>
    </div>
</div>
