<div class="container py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-xs-12">
        <!-- Material Input -->
        <mat-card class="app-input-section ">
            <mat-card-content>
                <!------titulo---->
                <h2 class="example-h2 text-center fs-1 py-5">Registro de Usuario</h2>
                <form [formGroup]="formRegistroUser" (submit)="guardarUsuario()" >
                    <div class="row">
                    <!------nombre------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <mat-label >nombre</mat-label>
                                <input matInput #nombre maxlength="50" formControlName="nombre" />
                                <mat-hint align="end">
                                {{nombre.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>  
                    <!------apellido------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field class="example-full-width">
                                <mat-label >apellido</mat-label>
                                <input matInput #apellido  maxlength="50" formControlName="apellido" />
                                <mat-hint align="end">
                                {{apellido.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> 
                    <!------telefono------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <mat-label >telefono</mat-label>
                                <input matInput #telefono maxlength="9" formControlName="telefono" />
                                <mat-hint align="end">
                                {{telefono.value.length}} / 9
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> 
                    <!------direccion------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <mat-label >direccion</mat-label>
                                <input matInput #direccion  maxlength="50" formControlName="direccion" />
                                <mat-hint align="end">
                                {{direccion.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> 
                    <!------usuario------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <mat-label >usuario</mat-label>
                                <input matInput #usuario placeholder="usuario" maxlength="20" formControlName="usuario" />
                                <mat-hint align="end">
                                {{usuario.value.length}} / 20
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> <!------password------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <mat-label >Contraseña</mat-label>
                                <input matInput #password maxlength="15" formControlName="password" />
                                <mat-hint align="end">
                                {{password.value.length}} / 15
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>   

                    </div>    
                    <!---------BOTON----->
                    <div class="container d-flex justify-content-center mb-3 ">
                        <button class="app-button px-5  " mat-raised-button color="primary" [disabled]="formRegistroUser.invalid" >Ingresar</button>
                    </div>
                    
                </form>
            </mat-card-content>
        </mat-card>
        <!-- /Material Input -->
        </div>   
    </div>     
</div>
