<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-8 col-xs-12">
        <!-- Material Input -->
        <mat-card class="app-input-section ">
            <mat-card-content>
                <!------titulo---->
                <h2 class="example-h2 text-center fs-1 py-5">login</h2>
                <form [formGroup]="formRegistroUser" (submit)="guardarUsuario()" >
                    <div class="row">
                    <!------nombre------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <input matInput #nombre placeholder="nombre" maxlength="50" formControlName="nombre" />
                                <mat-hint align="end">
                                {{nombre.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>  
                    <!------apellido------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <input matInput #apellido placeholder="apellido" maxlength="50" formControlName="apellido" />
                                <mat-hint align="end">
                                {{apellido.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> 
                    <!------telefono------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <input matInput #telefono placeholder="telefono" maxlength="50" formControlName="telefono" />
                                <mat-hint align="end">
                                {{telefono.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> 
                    <!------direccion------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <input matInput #direccion placeholder="direccion" maxlength="50" formControlName="direccion" />
                                <mat-hint align="end">
                                {{direccion.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> 
                    <!------usuario------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <input matInput #usuario placeholder="usuario" maxlength="50" formControlName="usuario" />
                                <mat-hint align="end">
                                {{usuario.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div> <!------password------>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="mb-3 d-flex justify-content-center">
                            <mat-form-field>
                                <input matInput #password placeholder="password" maxlength="50" formControlName="password" />
                                <mat-hint align="end">
                                {{password.value.length}} / 50
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>   

                    </div>    
                    <!---------BOTON----->
                    <div class="container d-flex justify-content-center mb-3 ">
                        <button class="app-button px-5  " mat-raised-button color="primary" [disabled]="formRegistroUser.invalid" >Ingresar</button>
                    </div>
                    
                </form>
            </mat-card-content>

           
        </mat-card>
        <!-- /Material Input -->
        </div>   
    </div>     
</div>
